<div class="container">
 <div class="row">
  <div class="col-2">
   <%= form_tag items_path, method: :get, class: 'boards__searchForm' do %>


   <table class="table table-bordered">
    <tr>
     <th class='table-active'>ジャンル検索</th>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
     <td>
      <div class="genre-box">
       <%= link_to genre.name, items_path(name: genre.id) %>
     </div>
     </td>
    </tr>
    <% end %>
    </table>
   <% end %>
  </div>

  <div class="col-8 off-set-1 mx-auto">
   <h3>商品一覧</h3>
   <p>全<%= @items.count %>件</p>

   <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
    <div><%= image_tag item.get_image %></div>
    <div><%= item.name %></div>
    <% end %>
    <div>￥<%= item.add_tax_price.to_s(:delimited) %></div>
   <% end %>
  </div>
 </div>
</div>