<h3>商品一覧</h3>
<p>全<%= @items.count %>件</p>

<% @items.each do |item| %>
 <%= link_to item_path(item) do %>
 <%= image_tag item.get_image %>
 <%= item.name %>
 <% end %>
 ￥<%= item.add_tax_price.to_s(:delimited) %>
<% end %>