<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <ul class="flex ml-auto">
          <% if end_user_signed_in? %>
          <%= link_to "LOGO", root_path, class:"navbar-brand" %>
          <div>
            <li><%= link_to "マイページ", publics_mypage_path %></li>
            <li><%= link_to "商品一覧", items_path %></li>
            <li><%= link_to "カート", cart_items_path %></li>
            <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>
          </div>
            <% elsif admin_signed_in? %>
            <%= link_to "LOGO", admin_root_path %>
            <div>
              <li><%= link_to "商品一覧", admin_items_path %></li>
              <li><%= link_to "会員一覧", admin_end_users_path %></li>
              <li><%= link_to "注文履歴一覧", admin_root_path %></li>
              <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
              <div class="search-form">
                <%= form_with url: search_admin_items_path, method: :get do |f| %>
                  <%= f.text_field :keyword, value: @keyword %>
                  <%= f.submit "検索" %>
                <% end %>
              </div>
            </div>
            <% else %>
            <%= link_to "LOGO", root_path, class:"navbar-brand" %>
            <div>
              <li><%= link_to "商品一覧", items_path %></li>
              <li><%= link_to "新規登録", new_end_user_registration_path %></li>
              <li><%= link_to "ログイン", end_user_session_path %></li>
            </div>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
